
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Status Page</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="/app/libs/moment.js"></script>


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

      <meta charset="UTF-8">

      <script src="//code.angularjs.org/snapshot/angular.min.js"></script>


  </head>

  <body ng-app="statusPageApp" ng-controller="StatusController" ng-style="{'background-image':'url(' + bkImageUrl+ ')'}">
  <script>

      angular.module('statusPageApp',[]).controller('StatusController', ['$scope','$http','$interval',
      function($scope, $http, $interval){

          //$scope.bkImageUrl = "http://localhost/statusPage/html/test/images/background.jpg";
          //$scope.bkImageUrl = "https://lh3.googleusercontent.com/-BRbfOdJEQug/We-T933VSMI/AAAAAAAAADg/ijw5EyeLMdASxNWo3U4abrejFNL2IyceACHMYBhgL/file9241312063946.jpg";
          //getPhotos();
          getNews();
          getWeather();
          getTime();
          getCalendarEvents();
          getPhotos();


          //change news &photos every 3 mins
          $interval(getPhotos,180000);
          $interval(getNews,180000);
          $interval(getWeather, 3600000);
          $interval(getTime,1000);


          $scope.getTwoDigitCode = function(code){

              //console.log("got code " + code + "and lenght is " + code.length);
              var tempCode = code;

              if (code  < 10){
                  tempCode = "0" + code;
              }

              //console.log("returning code" + tempCode);
              return tempCode;

          }

          function getPhotos(){

              $http.get('/photos').then(function(response){
                  var url = response.data.photoUrl;
                  //console.log(url);
                  $scope.bkImageUrl =  url;
                  //console.log($scope.bkImageUrl)
              });
          }

          function getNews(){
              $http.get('/news').then(function(response){
                  $scope.news = response.data;
              }, function(response){
                  console.log(response.data)
                  $scope.news="something went wrong";
              })
          }

          function getWeather(){
              /*$http.get('/weather').then(function(response){
                  $scope.weather = response.data;
              }, function(response){
                  console.log(response.data)
                  $scope.weather="something went wrong";
              })*/

              $http.get('/weather2').then(function(response){
                  $scope.forecastData = response.data;
                  console.log("got weather data " + $scope.forecastData);
                  console.log($scope.forecastData);
              })

          }

          function getTime(){
              $scope.date = Date.now();
              //console.log('got time');
          }


          function getCalendarEvents(){

                  $http.get('/calendar').then(function(response){
                  calendarEntry = response.data;
                  $scope.today = moment();
                  var dd = $scope.today.date();

                  $scope.tomorrow = moment().add(1, 'd');
                  $scope.dayAfter = moment().add(2, 'd');
                  $scope.threeDaysLater = moment().add(3, 'd');
                  $scope.fourDaysLater = moment().add(4, 'd');


                  var dayEntries = calendarEntry.dayEntries.length;

                  $scope.day1 = [];
                  $scope.day2 = [];
                  $scope.day3 = [];
                  $scope.day4 = [];
                  $scope.day5 = [];

                  for(var loop = 0; loop < dayEntries; loop++){

                      var events = calendarEntry.dayEntries[loop].events;
                      var eventNum = events.length;
                      //console.log("number of events are " + eventNum + " for day " + calendarEntry.dayEntries[loop].day);

                      for(var eventLoop =0; eventLoop < eventNum; eventLoop++){

                          //console.log(events[eventLoop].startTime + " start with summary " + events[eventLoop].summary)

                          var obj = new Object();
                          obj.startTime = events[eventLoop].startTime;
                          obj.summary = events[eventLoop].summary;


                          //console.log("today date is " + $scope.today.date() + " and calendar entry is " + calendarEntry.dayEntries[loop].day );

                          if($scope.today.date() == calendarEntry.dayEntries[loop].day)
                          {
                              $scope.day1.push(obj);
                          }
                          if($scope.tomorrow.date() == calendarEntry.dayEntries[loop].day){
                              $scope.day2.push(obj);
                          }
                          if($scope.dayAfter.date() == calendarEntry.dayEntries[loop].day){
                              $scope.day3.push(obj);
                          }
                          if($scope.threeDaysLater.date() == calendarEntry.dayEntries[loop].day){
                              $scope.day4.push(obj);
                          }
                          if($scope.fourDaysLater.date() == calendarEntry.dayEntries[loop].day){
                              $scope.day5.push(obj);
                          }


                          //console.log("eventloop value =" + eventLoop + "day1 is" + $scope.day1[eventLoop].summary);
                      }


                  }

              })

          }

      }]);



  </script>


  <div class="site-wrapper" >

      <div class="site-wrapper-inner"  >

        <div class="cover-container">



          <div class="masthead clearfix">


              <div class="inner">

                <div class="masthead-brand">
                 <h1 class="display-2">{{date| date:'EEE HH:mm:ss'}}</h1>
                    <h1 class="display-4"><small>{{date| date:'yyyy-MMM-d'}}</small></h1>

                </div>

                  <div class="nav-masthead" align="right">
                      <table class="table table-calendar">
                          <tr>
                              <!-- just static table for the next five days -->
                              <td>
                                  <h1 class="display-4">{{today.date()}} - <small>{{today.format('ddd')}}</small></h1>
                                  <ul style="list-style-type:none">
                                      <li ng-repeat=" event in day1">
                                          <p class="calendar-entry">{{event.startTime | date: 'H:mm'}} {{ event.summary }}</p>
                                      </li>
                                  </ul>
                              </td>
                              <td>
                                  <h1 class="display-4">{{tomorrow.date()}} - <small>{{tomorrow.format('ddd')}}</small></h1>
                                  <ul style="list-style-type:none">
                                      <li ng-repeat=" event in day2">
                                          <p class="calendar-entry">{{event.startTime}} - {{ event.summary }}</p>
                                      </li>
                                  </ul>
                              </td>
                              <td>
                                  <h1 class="display-4">{{dayAfter.date()}} - <small>{{dayAfter.format('ddd')}}</small></h1>
                                  <ul style="list-style-type:none">
                                      <li ng-repeat=" event in day3">
                                          <p class="calendar-entry">{{event.startTime}} - {{ event.summary }}</p>
                                      </li>
                                  </ul>
                              </td>
                              <td>
                                  <h1 class="display-4">{{threeDaysLater.date()}} - <small>{{threeDaysLater.format('ddd')}}</small></h1>
                                  <ul style="list-style-type:none">
                                      <li ng-repeat=" event in day4">
                                          <p class="calendar-entry">{{event.startTime}} - {{ event.summary }}</p>
                                      </li>
                                  </ul>
                              </td>
                              <td>
                                  <h1 class="display-4">{{fourDaysLater.date()}} - <small>{{fourDaysLater.format('ddd')}}</small></h1>
                                  <ul style="list-style-type:none">
                                      <li ng-repeat=" event in day5">
                                          <p class="calendar-entry">{{event.startTime}} - {{ event.summary }}</p>
                                      </li>
                                  </ul>
                              </td>
                          </tr>
                      </table>
                  </div>


              </div>
          </div>

          <div class="inner cover">
              <div id="news">
                  <h1 class="display-1">{{news.headline}}</h1>
                  <p class="lead">{{news.description}}</p>
                  <p class="lead">{{news.feedData}}</p>
              </div>
          </div>

          <div class="mastfoot">
            <div id="weather" align="left">
                <table class="table-weather">
                    <tr>
                        <td ng-repeat="forecast in forecastData.DailyForecasts" align="center" >
                            <h4 align="center">{{forecast.Date | date:'MMM-d EEE'}} </h4>
                            <img align="center" src='https://developer.accuweather.com/sites/default/files/{{getTwoDigitCode(forecast.Day.Icon)}}-s.png' />
                            <h5 align="center">{{forecast.Day.IconPhrase}}</h5>

                        </td>
                    </tr>

                    <tr>
                        <td ng-repeat="forecast in forecastData.DailyForecasts" align="center">
                            <!--<h4>{{forecast.Date | date:'MMM-d EEE'}} </h4>-->
                            <img align="center" src='https://developer.accuweather.com/sites/default/files/{{getTwoDigitCode(forecast.Night.Icon)}}-s.png' />
                            <h4 align="center">{{forecast.Temperature.Maximum.Value}}{{forecast.Temperature.Maximum.Unit}}   {{forecast.Temperature.Minimum.Value}}{{forecast.Temperature.Maximum.Unit}} </h4>
                            <h5 align="center">{{forecast.Night.IconPhrase}}</h5>
                        </td>
                    </tr>
                </table>

            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Latest compiled and minified CSS -->

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>


  </body>
</html>
